
$dimension:   80px;           /* 图标尺寸 */
$size:   			5px;            /* 圆点尺寸 */
$large:   		10px;           /* 圆点尺寸 */
$color:       #fff;           /* 圆点颜色 */


.loading-icon-windows {
	width: $dimension;
	height: $dimension;
	position: relative;
	i {
		display: block;
		width: $size;
		height: 50%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		opacity: 0;
		transform-origin: center top;
		animation: loading-windows 5.6s infinite forwards;
		&:before {
			content: '';
			display: block;
			width: $size;
			height: $size;
			background-color: $color;
			border-radius: 50%;
			position: absolute;
			bottom: 0;
			left: 0;
		};
		@for $i from 1 through 6 {
		  &:nth-child(#{$i}) { animation-delay: .225s * $i; }
		}
	}
}

@keyframes loading-windows {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	15% {
		opacity: 0;
		transform: rotate(0deg);
	}
	16% {
		opacity: 1;
		transform: rotate(0deg);
		animation-timing-function: cubic-bezier(0.15, 0.618, 0.618, 1.000);
	}
	33% {
		transform: rotate(180deg);
		animation-timing-function: cubic-bezier(0.618, 0, 0.85, 0.382);
	}
	50% {
		transform: rotate(360deg);
		animation-timing-function: cubic-bezier(0.15, 0.618, 0.618, 1.000);
	}
	67% {
		transform: rotate(540deg);
		animation-timing-function: cubic-bezier(0.618, 0, 0.85, 0.382);
	}
	84% {
		opacity: 1;
		transform: rotate(720deg);
	}
	85% {
		opacity: 0;
		transform: rotate(720deg);
	}
	100% {
		opacity: 0;
		transform: rotate(720deg);
	}
}

.loading-icon-tail {
	width: $dimension;
	height: $dimension;
	position: relative;
	i {
		display: block;
		width: $size;
		height: 50%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform-origin: center bottom;
		animation: loading-tail 1.5s infinite forwards;
		&:before {
			content: '';
			display: block;
			width: $size;
			height: $size;
			background-color: $color;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
		};
		@for $i from 1 through 6 {
		  &:nth-child(#{$i}) { animation-delay: 0.08s * $i; opacity: 1 - $i / 8 }
		}
	}
}

@keyframes loading-tail {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-icon-atom {
	width: $dimension;
	height: $dimension;
	position: relative;
	transform-style: perspective-3d;
	perspective: 600;
	i {
		border: 1px solid #777;
		border-radius: 50%;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		&:before {
			content: '';
			animation: loading-atom .8s linear infinite forwards;
			transform-origin: center $dimension / 2 + $large / 2;
			display: block;
			width: $large;
			height: $large;
			background-color: $color;
			border-radius: 50%;
			position: absolute;
			top: -$large / 2;
			left: 50%;
		};
	}
	i:nth-child(1) {
		transform: rotateY(45deg) rotateX(45deg);
		&:before {
			transform: rotateY(-45deg) rotateX(45deg);
		};
	}
	i:nth-child(2) {
		transform: rotateY(45deg) rotateX(-45deg);
		&:before {
			transform: rotateY(45deg) rotateX(45deg);
		};
	}
	i:nth-child(3) {
		transform: rotateY(60deg);
		&:before {
			animation-direction: reverse;
			transform: rotateX(-60deg);
		};
	}
}

@keyframes loading-atom {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}