html,body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
a {
	text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 3px;
    border-right: 2px solid #f5f5f5;
}

.side {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #3F51B5;
	padding: 30px 20px;
	overflow: auto;
}



.side table {
	width: 100%;
	border-collapse: collapse;
}

.side td {
	font-size: 15px;
	color: #eee;
	line-height: 1.8;
}

.side td.light {
	font-weight: bold;
	color: #fff;
}
.side td.dark {
	font-weight: bold;
	color: #1A237E;
}

h1 {
	font-size: 19px;
	color: #fff;
	margin-bottom: 30px;
}

.ability {
	margin-top: 30px;
}

.ability td {
	font-size: 13px;
}
.ability td.title {
	font-size: 16px;
	padding-bottom: 10px;
}
.container {
	margin: 0 20px;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 20px;
	overflow: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}